.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: .5fr 2.3fr 2fr 1fr;
    grid-template-areas:
    "title title"
    "box1 box2"
    "box3 box3"
    "footer footer"
    
}


#title {
    grid-area: title;
    text-align: center;
    
}

#box1 {
    grid-area: box1;
    text-align: center;
    
}

#box2 {
    grid-area: box2;
    text-align: center;
    
}

#box3 {
    grid-area: box3;
    text-align: center;
}

#footer {
    grid-area: footer;
    text-align: center;
    
}