.youtube{
    display: grid;
    grid-template-columns: 2fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
    "Cat"
    "Dog"
    "Fish";
    grid-gap: 20px;
}

#box1 {
    grid-area: Cat;
    text-align: center;
}

#box2 {
    grid-area: Dog;
    text-align: center;
}

#box3 {
    grid-area: Fish;
    text-align: center;
}

@media only screen and (max-width:680px){
    
    .youtube{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
    "Cat"
    "Dog"
    "Fish";
    grid-gap: 20px;
    }
    
}