*{
    padding: 20px;
    margin: 2px;
    box-sizing: border-box;
}

body {
    font-size: 25px;
    font-family: Arial;
    color: white;
    background: olive;
    padding: 45px 20px;
}

.container {
    padding: 15px;
    background: white;
    height: auto;
    width: 100%;
}

#Form {
    background-color: transparent;
    
}

#footer {
    background-color: olive;
    position: relative;
    top: 170px;
    
}
