.container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 12fr 1.5fr;
    grid-template-areas:
    "title"
    "footer"
}

#title {
    grid-area: title;
    text-align: center;
    
}

#footer {
    grid-area: footer;
    text-align: center;
    
}